*{
}
body{
    display: flex;
    height:600px;
    justify-content: center;
}
.calculator{
    background-color: lightgrey;
    width: 300px;
    min-height: 460px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
}
/* screen */
.screen{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
}
.screen > div{
    padding:10px;
}
.currentScreen{
    min-height: 60px;
    margin-bottom: 10px;
    font-size: 50px;
}

.previousScreen{
    min-height: 20px;
}

/* button group */
.btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
button{
    height: 50px;
    margin: 5px 0 5px 0;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-group > .longBtn{
    width: 140px;
}
.longBtn#clear{
    background-color: lightskyblue;
}
.longBtn#delete{
    background: indianred;
}
.btn-group > .shortBtn{
    width: 67px;
}

button:hover{
    filter: brightness(90%);
}







